<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CooperativeEditor</display-name>
  <welcome-file-list>
    <welcome-file>/private/index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>edu.ifrs.cooperativeeditor.webservice.ConfigurationWebService</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/webservice</param-value>
  </context-param>
</web-app>